openapi: 3.1.0
info:
  title: Mailgun Domains Mailing Lists API
  description: Mailgun (by Sinch) is a transactional email API platform offering message send, inbound routing, suppression management, list management, webhooks, and event analytics. The HTTP API uses HTTP Basic Authentication with the literal username `api` and the account API key as the password. Regional endpoints are available for US (`api.mailgun.net`) and EU (`api.eu.mailgun.net`) data residency.
  version: 3.0.0
  contact:
    name: Mailgun
    url: https://documentation.mailgun.com/docs/mailgun/api-reference/
servers:
- url: https://api.mailgun.net/v3
  description: US region
- url: https://api.eu.mailgun.net/v3
  description: EU region
security:
- BasicAuth: []
tags:
- name: Mailing Lists
paths:
  /lists:
    get:
      tags:
      - Mailing Lists
      summary: List mailing lists
      operationId: listMailingLists
      responses:
        '200':
          description: Mailing lists
    post:
      tags:
      - Mailing Lists
      summary: Create a mailing list
      operationId: createMailingList
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - address
              properties:
                address:
                  type: string
                  format: email
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Mailing list
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username `api` and your Mailgun API key as the password.
