openapi: 3.1.0
info:
  title: Mailgun API
  description: >-
    Mailgun (by Sinch) is a transactional email API platform offering message
    send, inbound routing, suppression management, list management, webhooks,
    and event analytics. The HTTP API uses HTTP Basic Authentication with the
    literal username `api` and the account API key as the password. Regional
    endpoints are available for US (`api.mailgun.net`) and EU
    (`api.eu.mailgun.net`) data residency.
  version: "3.0.0"
  contact:
    name: Mailgun
    url: https://documentation.mailgun.com/docs/mailgun/api-reference/
servers:
  - url: https://api.mailgun.net/v3
    description: US region
  - url: https://api.eu.mailgun.net/v3
    description: EU region
security:
  - BasicAuth: []
tags:
  - name: Messages
  - name: Domains
  - name: Mailing Lists
  - name: Events
  - name: Webhooks
  - name: Suppressions
  - name: Routes
paths:
  /{domain}/messages:
    post:
      tags: [Messages]
      summary: Send an email via the HTTP API
      operationId: sendMessage
      parameters:
        - name: domain
          in: path
          required: true
          description: Verified sending domain (e.g. mg.example.com)
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [from, to, subject]
              properties:
                from:
                  type: string
                to:
                  type: string
                cc:
                  type: string
                bcc:
                  type: string
                subject:
                  type: string
                text:
                  type: string
                html:
                  type: string
                template:
                  type: string
                'o:tag':
                  type: string
                'o:tracking':
                  type: string
      responses:
        '200':
          description: Message accepted; response includes Mailgun message ID.
  /{domain}/messages.mime:
    post:
      tags: [Messages]
      summary: Send a pre-built MIME message
      operationId: sendMimeMessage
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [to, message]
              properties:
                to:
                  type: string
                message:
                  type: string
                  format: binary
      responses:
        '200':
          description: Message accepted
  /domains:
    get:
      tags: [Domains]
      summary: List domains
      operationId: listDomains
      responses:
        '200':
          description: Domains
    post:
      tags: [Domains]
      summary: Create a domain
      operationId: createDomain
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                smtp_password:
                  type: string
                spam_action:
                  type: string
                wildcard:
                  type: boolean
      responses:
        '200':
          description: Domain
  /domains/{name}:
    get:
      tags: [Domains]
      summary: Get a domain
      operationId: getDomain
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Domain
    delete:
      tags: [Domains]
      summary: Delete a domain
      operationId: deleteDomain
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
  /{domain}/events:
    get:
      tags: [Events]
      summary: Query the events log
      operationId: listEvents
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Events
  /domains/{domain}/webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks for a domain
      operationId: listWebhooks
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhooks
    post:
      tags: [Webhooks]
      summary: Create a webhook
      operationId: createWebhook
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [id, url]
              properties:
                id:
                  type: string
                  description: Event type (e.g. delivered, opened, clicked)
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Webhook
  /domains/{domain}/webhooks/{type}:
    delete:
      tags: [Webhooks]
      summary: Delete a webhook
      operationId: deleteWebhook
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
  /{domain}/bounces:
    get:
      tags: [Suppressions]
      summary: List bounced addresses
      operationId: listBounces
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Bounces
  /{domain}/unsubscribes:
    get:
      tags: [Suppressions]
      summary: List unsubscribed addresses
      operationId: listUnsubscribes
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Unsubscribes
  /{domain}/complaints:
    get:
      tags: [Suppressions]
      summary: List complaints
      operationId: listComplaints
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Complaints
  /lists:
    get:
      tags: [Mailing Lists]
      summary: List mailing lists
      operationId: listMailingLists
      responses:
        '200':
          description: Mailing lists
    post:
      tags: [Mailing Lists]
      summary: Create a mailing list
      operationId: createMailingList
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [address]
              properties:
                address:
                  type: string
                  format: email
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Mailing list
  /routes:
    get:
      tags: [Routes]
      summary: List inbound routes
      operationId: listRoutes
      responses:
        '200':
          description: Routes
    post:
      tags: [Routes]
      summary: Create an inbound route
      operationId: createRoute
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [expression, action]
              properties:
                priority:
                  type: integer
                description:
                  type: string
                expression:
                  type: string
                action:
                  type: string
      responses:
        '200':
          description: Route
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username `api` and your Mailgun API key as the password.
